body.light-mode {
    background-color: #f4f4f4;
    color: #363636;
}

body.dark-mode {
    background-color: #222222;
    color: #ffffff;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    align-items: center;
    height: 24px;
    width: 48px;
    background-color: #ccc;
    border-radius: 12px;
    cursor: pointer;
}

.navbar-toggle-slider {
    position: relative;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin: 2px;
    transition: transform 0.3s;
}

.navbar-toggle-slider.dark {
    transform: translateX(20px);
}